<!DOCTYPE html>
<html>
<head>
  <%- include ("../partials/header.ejs") %>
</head>

<body>

<%- include ("../partials/nav.ejs") %>

<div class="container">
  <div class="test">
    <p>我輩は猫である。名前はまだない。
      どこでまれたかとんと見当がつかぬ。なんでも薄着ジメジメしたところでニャーニャー鳴いていたという事だけ記憶している、我輩はここで初めて人間というものを見た。しかも後で聞くとそれは畜生地王人間中で一番醜悪な種族であったそうだ。このショセ一応のは時々我々を捕まえて煮て食うという話である。
    </p>
  </div>


<!--
  <h2>Database Results</h2>
<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.id %> - <%= r.name %></li>
    <% }); %>
</ul>
-->

</div>

</body>
</html>
