<!DOCTYPE html>
<html lang="ja">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport"
         content="width=device-width, initial-scale=1.0">
        <title>Sample App</title>

        <%- include ("../partials/header.ejs") %>

    </head>
    <body>
        <%- include ("../partials/nav.ejs") %>

        <div class="container mb-4">
            <div class="row">
                <p id="Messages">Select Players and Order</p>
            </div>
            <div class="table-responsive">
            <table class="table table-striped table-bordered table-hover mb-4">
                <thead class="thead-light">
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">1</th>
                        <th scope="col">2</th>
                        <th scope="col">3</th>
                        <th scope="col">4</th>
                        <th scope="col">5</th>
                        <th scope="col">6</th>
                        <th scope="col">7</th>
                        <th scope="col">8</th>
                        <th scope="col">9</th>
                        <th scope="col">10</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <th scope="row">見出しセル</th>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">見出しセル</th>
                    </tr>
                    <tr>
                        <th scope="row">見出しセル</th>
                    </tr>
                </tbody>
            </table>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <!--<img src="images/single_1.png" sytle="max-width: 20rem;">-->
                    ここに画像
                </div>
                <div class="col-2">
                    <div class="row">
                        <div class="col">
                            KIMURA
                        </div>
                    </div>
                    <div class="row">
                        <div class="col align-self-center">
                            <input type="button" class="btn btn-success" value="Select" onclick="player_select();" id="player_1">
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <!--<img src="images/icon_kimura2.png" class="img-fluid">-->
                    ここに画像
                </div>
            </div>
            <div class="row mb-2">
                <div class="col-8">
                    <!--<img src="images/single_1.png" sytle="max-width: 20rem;">-->
                    ここに画像
                </div>
                <div class="col-2 align-self-center">
                    KIMURA
                </div>
                <div class="col-2">
                    <!--<img src="images/icon_kimura2.png" class="img-fluid">-->
                    ここに画像
                </div>
            </div>
            
            <div class="row mb-2">
                <div class="col-8">
                    <!--<img src="images/single_1.png" sytle="max-width: 20rem;">-->
                    ここに画像
                </div>
                <div class="col-2  align-self-center">
                    KIMURA
                </div>
                <div class="col-2">
                    <!--<img src="images/icon_kimura2.png" class="img-fluid">-->
                    ここに画像
                </div>  
            </div>    
        </div>
    </body>
</html>